.cardDiv {
    margin-top:20px;
}
.cardDiv > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style:none;
    padding: 0px;
}
.cardDiv > ul > li {
    position:relative;
    display: inline-block;
    text-align:center;
    margin: 20px 5px;
}
.cardDiv > ul > li > .front {
    background: white;
    z-index: 2;
    box-shadow: 3px 3px 2px #aaaaaa;
}
.cardDiv > ul > li > .front .date {
    margin:25px 0px;
    display:inline-block;
    padding:12px;
    font-size:20px;
    border-radius:25px;
    /* background:#fdebdb; */
    font-weight:600;
    color: white;
    background: #79e1e6;
}
.cardDiv > ul > li > .front .title {
    font-size:16px;
    color:#282c2f;
    font-weight:600;
}
.cardDiv > ul > li > .front .writer {
    font-size:14px;
    font-weight:600;
    color:#c6ced2;
}
.cardDiv > ul > li > .front .writer:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 1px solid #c6ced2;
    margin: 15px auto;
}
.cardDiv > ul > li > .front .starDiv {
    margin-bottom:15px;
}
.cardDiv > ul > li > .front .cardContent {
    text-align:left;
    margin:10px 25px;
    font-size:12px;
    color:#282c2f; 

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cardDiv > ul > li > .card {
    height: 280px;
    width: 200px;
    top: 0px;
    border-radius: 10px;
    transition: all .5s;
    backface-visibility: hidden;
}
.cardDiv > ul > li > .back {
    position: absolute;
    background: #282c2f;
    z-index: 1;
    transform: rotateY(-180deg);
    color:white;
}
.cardDiv > ul > li > .back .subBtn {
   padding:20px;
}
.cardDiv > ul > li > .back .subBtn ul {
    list-style:none;
    padding:0px;
    margin:0px;
}
.cardDiv > ul > li > .back .subBtn ul li {
    display:inline-block;
    font-size:25px;
    cursor:pointer;
}
.cardDiv > ul > li > .back .subBtn ul li:hover {
    color:#6de2e8;
}
.cardDiv > ul > li > .back .subBtn ul li:first-child {
    margin-right:10px;
}
.cardDiv > ul > li > .back .title {
    font-size:20px;
    font-weight:600;
    margin-top:0px;
}
.cardDiv > ul > li > .back .content {
    color:gray;
    margin:0px;
    padding:0px 20px;
    font-size:13px;
    overflow: auto;
    /* visibility: hidden; */
    height:160px;
}
.cardDiv > ul > li:hover > .front {
    z-index: 1;
    transform: rotateY(180deg);

}
.cardDiv > ul > li:hover > .back {
    z-index: 2;
    transform: rotateY(0deg);
}

/* .cardDiv > ul > li:hover > .back .content{
    height:160px;
    visibility: visible;
} */

.searchDiv {
    margin:20px 0px;
    padding:0px 15px;
    height:40px;
    line-height: 40px;
    border:1px solid #e0e0e0;
}
.searchDiv input {
    width:calc(80% - 150px);
    font-size:15px;
    margin-left:5px;
    outline:none;
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px; 
    border-bottom:0px;
    line-height: normal;
}

.dailyCategoryArea{
    /* margin: 20px 0px; */
    /* padding: 0px 15px; */
    /* height: 40px; */
    line-height: 35px;
    /* border: 1px solid #e0e0e0; */
}

.categoryColor{
    width: 10px;
    height: 10px;
    border:1px solid black;
    display: inline-block;
    vertical-align: middle;
}

.dailyCategory{
    /* background: #79e1e6;  */
    /* background: #e0e0e0; */
    border:1px solid #e0e0e0;
    background: white;
    display: inline-block;
    padding: 0 15px;
    margin: 0 10px;
    border-radius: 30px;
}

.dailyCategory:hover{
    background: #79e1e6; 
    color:white;
    cursor:pointer;
}

.dailyCategory.active{
    background: #79e1e6; 
    color:white;
    cursor:pointer;
}

.categoryText{
    vertical-align: middle;
    font-size: 11px;
    margin-left: 5px;
}


/***************************custom css*/
.dailyAddDiv .inputs{    
    margin: 10px 0px;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.dailyAddDiv select{
    margin: 10px 0px;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
}


.dailyAddDiv textarea{    
    margin: 10px 0px;
    padding: 10px 15px;
    /* line-height: 40px; */
    border: 1px solid #e0e0e0;
    width: 100%;
    resize: none;

}

.dailyAddDiv .dates{
    display: inline-block;
    width: initial;
    /* width: 80%; */
}

.dailyAddDiv .calendar{
    display: inline-block;
    width: 50px;
    padding: 10px;
    margin-top: -3px;
    height: 40px;
}

.careKitty input{
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.careKitty label{
    margin-right: 15px;
    padding: 10px 16px;
    background: #79e1e6;
    border-radius: 25px;
    color: white;
    font-weight: normal;
}

.fa-star{
    cursor: pointer;
}

/* .fa-star:hover{
    color: orange;
} */

.highlight{
    color: black;
    font-weight: bold;
    background-color: rgb(255, 235, 0);
}