.wrapper{
    width : 80%;
    margin: 50px auto;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px #aaaaaa
}

#categoryList{
    /* margin: 0 15px 0 15px; */
    /* border-top: 1px solid dodgerblue; */
    background: antiquewhite;
    padding: 10px 0 1px 5px;
    border-radius: 5px;
}

.shareMemberList{
  min-height: 50px;
  margin-top: 10px;
}

.shareMemberUser{
  background: orange;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 5px;
}

#categoryList > div {
    margin: 10px;
}

.categoryArea{
    border: 1px solid gray;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
}

.categoryText{
    margin-right: 10px;

}

/* 체크박스 스위치 */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 21px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }