.searchDiv {
  padding: 0px 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  width: 60%;
  /* margin: 20px 0 20px 10px; */
}
.searchDiv input {
  width:calc(80% - 50px);
  font-size:15px;
  margin-left:5px;
  outline:none;
  border:none;
  border-right:0px;
  border-top:0px;
  border-left:0px; 
  border-bottom:0px;
  line-height: normal;
}

.categoryAddDiv{
  margin: 20px 50px;
}

.categoryAddArea{
  border:1px solid #CCC;
  padding: 10px 20px;
  border-radius: 11px;
}

.categoryBtn{
  display: inline-block;
}

.categoryAddBtn{
  line-height: 26px;
  margin-top: -5px;
}

.categoryColor{
  width: 10px;
  height: 10px;
  border:1px solid black;
  display: inline-block;
  vertical-align: middle;
}

.categoryList{
  margin: 20px 0px;
  /* padding: 0px 15px; */
  /* height: 40px; */
  line-height: 35px;
  /* border: 1px solid #e0e0e0; */
}

.dailyCategory{
  /* background: #79e1e6;  */
  /* background: #e0e0e0; */
  border:1px solid #e0e0e0;
  background: white;
  display: inline-block;
  padding: 0 15px;
  margin: 0 10px;
  border-radius: 30px;
  
  background: #79e1e6; 
  color:white;
  /* cursor:pointer; */
}

.categoryText{
  vertical-align: middle;
  font-size: 11px;
  margin: 0 10px 0 5px;
  cursor: pointer;
}


.shareSelectList{
  margin: 20px 50px;
}

.shareSelectList label{
  cursor: pointer;
}
.shareSelectList input[type='checkbox']{
  margin-right:10px;
}

.shareSelectList i{
  margin-right:10px;
}

.shareSelectCategory{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0 10px 20px;
  border-radius: 10px;
}

/* 체크박스 스위치 */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 21px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}