.searchDiv {
    margin: 20px 0;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    width: calc(100% - 235px); 
    /* margin: 20px 0 20px 10px; */
}
.searchDiv input {
    width:calc(80% - 150px);
    font-size:15px;
    margin-left:5px;
    outline:none;
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px; 
    border-bottom:0px;
    line-height: normal;
}
.todolistAddDiv{
    display: inline-block;
}

.todolistAddDiv input{    
    margin: 10px 0px;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.todolistAddDiv .dates{
    display: inline-block;
    width: initial;
    /* width: 80%; */
}

.todolistAddDiv .calendar{
    display: inline-block;
    width: 50px;
    padding: 10px;
    margin-top: -3px;
    height: 40px;
}

.todoContents{
    width: 100%;
    height: 150px;
    margin-top: 0;
}

.todoContents > textarea{
    width: 100%;
    font-size: 15px;
    margin: 10px 5px;
    outline: none;
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    line-height: normal;
    height: calc(100% - 20px);
    resize: none;
}

.todoAddBtn{
    text-align: right;
}

.todoAddBtn > .btnOrange{
    margin-right: 10px;
}

.listDiv ul{
    margin: 0 !important;
    padding:0 !important;
}

#todolist li.using{
    list-style: none;
    border-left: 3px solid #79e1e6;
    background: #f5f6f8;
    padding: 15px 0 15px 35px !important;
    margin-bottom: 2px;
    border-bottom: none !important;
}


#todolist li.using .title{
    margin-right: 10px;
    color : #333;
    text-decoration: none;
    cursor: pointer;
}

#todolist li.using .contents{
    margin:15px 0 0 15px;
    display: none;
}

#todolist li.using .todoContentsCheck{
    margin-right: 5px;
}

.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    background: #79e1e6;
}

.contents > ul li{
    list-style: none;
}

.contents > ul li > label{
    cursor: pointer;
}

/* 완료 todolist */
#todoComplete li.using{
    list-style: none;
    border-left: 3px solid #707070;
    background: #f5f6f8;
    padding: 15px 0 15px 35px !important;
    margin-bottom: 2px;
    border-bottom: none !important;
}


#todoComplete li.using .title{
    margin-right: 10px;
    color : #CCC;
    text-decoration: line-through;
    cursor: pointer;
}

#todoComplete li.using .contents{
    margin:15px 0 0 15px;
    display: none;
}

#todoComplete li.using .todoContentsCheck{
    margin-right: 5px;
}
