doctype html
html
    head
        meta(charset = 'utf-8')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        //- script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nanum+Gothic') 
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet", href="css/list.css")
        script(type='text/javascript' src='js/list.js') 
        script(type='text/javascript' src='js/common.js') 
        script.
            $(function(){
                $('.logout').click(function(){
                    $.ajax({
                        url: '/logout',
                        dataType: 'json',
                        type: 'get',
                        success: function(data) {
                            if(data.result == 'success'){
                                window.location ='/';
                            }else{
                                alert('로그아웃하는데 문제가 발생하였습니다.');
                            }
                        }
                    });
                });

                $('.dailyAddDiv').hide();
                $('#showList').hide();
            })

            function goListAndWrite(status){
                if(status == 'add'){
                    $('.dailyAddDiv').show();
                    $('.cardDiv').hide();

                    $('#dailyAdd').hide();
                    $('#showList').show();
                    $('.dailyCategoryArea').hide();
                    $('.searchDiv').hide();
                    $('.pager').hide();
                }else if(status == 'list'){
                    $('.dailyAddDiv').hide();
                    $('.cardDiv').show();

                    $('#dailyAdd').show();
                    $('#showList').hide();
                    $('.dailyCategoryArea').show();
                    $('.searchDiv').show();
                    $('.pager').show();
                }
            }
    body
        div(class='container')
            div(class="left" style="background-color:#282c2f;")
                div(class="header")
                    span(class="skyBlue emailInfo") #{email}
                    span(class="sub white") 
                        span(class="logout") 
                            i(class='fas fa-sign-out-alt')
                div
                    ul(class="menuNavi")
                        li(class='active')
                            i(class="far fa-angry")
                            span DAILY
                        li
                            a(href='/todolist')
                                i(class="far fa-grin-squint-tears")
                                span TODOLIST
                        li
                            a(href='#')
                                i(class="far fa-smile")
                                span BUDGET
                        li
                            a(href='#')
                                i(class="far fa-grin-beam-sweat")
                                span EXPENSE
                        //- li
                        //-     i(class="fas fa-biohazard")
                        //-     span OPTIONS
            div(class='center' style='background:#fafafa;')
                header(class="header backWhite")
                    span(class="first") Content
                    span(class="btn btnOrange" id='dailyAdd' onclick="goListAndWrite('add')") + Add
                    span(class="btn btnOrange" id='showList' onclick="goListAndWrite('list')") list
                    div(class="headerBtn")
                        span(class="btn btnWhite") + btn1
                        span(class="btn btnWhite") + btn2
                        span(class="btn btnWhite") + btn3
                div(class='content')
                    ul(class='pager')
                        li
                            a(href="#" onclick="javascript:moveDays('pre');")
                                span(class='glyphicon glyphicon-menu-left' aria-hidden='true')
                        li 
                            span(id='thisMonth')
                        li
                            a(href="#" onclick="javascript:moveDays('next');")
                                span(class='glyphicon glyphicon-menu-right' aria-hidden='true')


                    div(class="searchDiv backWhite")
                        i(class="fas fa-search gray")
                        input(type="text" placeholder="Search...")
                        div(class="btnDiv line40" style="margin-right:0px;")
                            //- span(class="btn btnOrange") All
                            //- span(class="btn btnGray") Todo
                            //- span(class="btn btnGray") Daily

                    div(class='dailyCategoryArea')

                    div(class='cardDiv')
                        ul(id='cardList')

                    div(class='dailyAddDiv')
                        div
                            label(for='cateogry')
                            select(id='cateogry' name='category')

                        div
                            input(type='text' id='datepicker' name='date' placeholder='날짜선택' class='dates' aria-describedby='basic-addon2' autocomplete="off")
                            span(class='input-group-addon calendar' id='basic-addon2')
                                span(class='glyphicon glyphicon-calendar' aria-hidden='true')

                        div
                            input(type='text' id='title' name='title'  placeholder='제목' autocomplete="off")

                        div
                            textarea( name="contents", cols="30", rows="4" id='contents'  placeholder='내용')
                            //- input(type='text' id='contents' name='contents' placeholder='내용' autocomplete="off")

                        div
                            button(type="button" class="btn btn-primary" onclick='javascript:reportAdd()' ) 저장
                            button(type="button" class="btn btn-danger deletebtn" onclick='javascript:reportDelete()' ) 삭제
