doctype html
html
    head
        meta(charset = 'utf-8')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        //- script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nanum+Gothic') 
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet", href="css/common.css")
        link(rel="stylesheet", href="css/list.css")
        script(type='text/javascript' src='js/list.js') 
        script(type='text/javascript' src='js/common.js') 
        script.
            $(function(){

                $('.careKitty').hide();
                $('.starDiv').hide();

                $( "#datepicker" ).datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true, 
                    dateFormat:'yy/mm/dd'
                });
                


                $('.logout').click(function(){
                    $.ajax({
                        url: '/logout',
                        dataType: 'json',
                        type: 'get',
                        success: function(data) {
                            if(data.result == 'success'){
                                window.location ='/';
                            }else{
                                alert('로그아웃하는데 문제가 발생하였습니다.');
                            }
                        }
                    });
                });

                $('.dailyAddDiv').hide();
                $('#showList').hide();

                $('input[name=care]').click(function(){
                    $('#title').val($(this).parent().text().trim());

                    if($(this).val() == 'foodCheck'){
                        $('.starDiv').show();
                    }else{
                        $('.starDiv').hide();
                    }
                });

                $('.starDiv > i').hover(function(){
                    var index = $(this).attr('data-index');
                    $(this).addClass('gray');

                    $('.starDiv > i').each(function(a,b){
                        if(index >= a){
                            $(this).removeClass('gray');
                            $(this).addClass('orange');
                        }else{
                            $(this).addClass('gray');
                            $(this).removeClass('orange');
                        }
                    });
                },
                function(){ //hover out
                    var hasClass = 0;
                    $('.starDiv > i').each(function(a,b){
                        if($(this).hasClass('clickStar')){
                            hasClass++;
                        }else{
                            $(this).addClass('gray');
                            $(this).removeClass('orange');
                        }
                    });
                }).click(function(){
                    var index = $(this).attr('data-index');
                    $('#foodCheckPoint').val(parseInt(index)+1);
                    $(this).addClass('gray');
                    $(this).removeClass('clickStar');

                    $('.starDiv > i').each(function(a,b){
                        if(index >= a){
                            $(this).removeClass('gray');
                            $(this).addClass('orange');
                            $(this).addClass('clickStar');
                        }else{
                            //- $(this).removeClass('gray');
                            //- $(this).addClass('orange');
                            $(this).removeClass('clickStar');
                        }
                    });
                });
            });


            $(document).on("change", "#cateogry", function(){
                if($(this).find('option:selected').attr('data-type') == 'animal'){
                    $('.careKitty').show();
                }else{
                    $('.careKitty').hide();
                    $('#title').val('');
                }
            });

            function goListAndWrite(status){
                if(status == 'add' || status == 'update'){
                    $('.dailyAddDiv').show();
                    $('.cardDiv').hide();

                    $('#dailyAdd').hide();
                    $('#showList').show();
                    $('.dailyCategoryArea').hide();
                    $('.searchDiv').hide();
                    $('.pager').hide();

                    if(status == 'update'){
                        $('.reportAddBtn').hide();
                        $('.reportUpdateBtn').show();

                        
                    }else{
                        $('.reportAddBtn').show();
                        $('.reportUpdateBtn').hide();

                        /*데이터 초기화*/
                        $('#id').val('');
                        $("#cateogry option:eq(0)").prop("selected", true);
                        $('#datepicker').val('');
                        $('#title').val('');
                        $('#contents').val('');
                    }
                }else if(status == 'list'){
                    $('.dailyAddDiv').hide();
                    $('.cardDiv').show();

                    $('#dailyAdd').show();
                    $('#showList').hide();
                    $('.dailyCategoryArea').show();
                    $('.searchDiv').show();
                    $('.pager').show();
                    $('.careKitty').hide();
                }
            }

            function reportAdd(){
                if(!$("#cateogry").val()){
                    alert('카테고리를 선택하세요');
                    return false;
                }

                if(!$("#datepicker").val()){
                    alert('날짜를 선택하세요');
                    return false;
                }

                if(!$("#title").val()){
                    alert('제목을 입력하세요.');
                    return false;
                }

                if(!$("#contents").val()){
                    alert('내용을 입력하세요.');
                    return false;
                }

                $.ajax({
                    url: '/add',
                    dataType: 'json',
                    type: 'post',
                    data :  $("#reportForm").serialize(),
                    success: function(data) {
                        if(data.result == 'success'){
                            getDays();
                            goListAndWrite('list');
                        }
                    }
                });
            }

            
            function reportDelete(){
                $("#reportForm").attr('action', '/delete')
                $("#reportForm").submit();
            }
    body
        div(class='container')
            div(class="left" style="background-color:#282c2f;")
                div(class="header")
                    span(class="skyBlue emailInfo") #{email}
                    span(class="sub white") 
                        span(class="logout") 
                            i(class='fas fa-sign-out-alt')
                div
                    ul(class="menuNavi")
                        li(class='active')
                            i(class="far fa-angry")
                            span DAILY
                        li
                            a(href='/todolist')
                                i(class="far fa-grin-squint-tears")
                                span TO DO
                        li
                            a(href='/budget')
                                i(class="far fa-smile")
                                span BUDGET
                        li
                            a(href='/expense')
                                i(class="far fa-grin-beam-sweat")
                                span EXPENSE
                        li
                            a(href='/setting')
                                i(class="fas fa-cogs")
                                span SETTING
                        //- li
                        //-     i(class="fas fa-biohazard")
                        //-     span OPTIONS
            div(class='center' style='background:#fafafa;')
                header(class="header backWhite")
                    span(class="first") Daily
                    span(class="btn btnOrange" id='dailyAdd' onclick="goListAndWrite('add')")
                        i(class='fas fa-plus-circle')        ADD
                    
                    span(class="btn btnOrange" id='showList' onclick="goListAndWrite('list')") 
                        i(class='fas fa-arrow-circle-left')        LIST
                    
                    //- div(class="headerBtn")
                    //-     span(class="btn btnWhite") + btn1
                    //-     span(class="btn btnWhite") + btn2
                    //-     span(class="btn btnWhite") + btn3
                div(class='content')
                    ul(class='pager')
                        li
                            a(href="#" onclick="javascript:moveDays('pre');")
                                span(class='glyphicon glyphicon-menu-left' aria-hidden='true')
                        li 
                            span(id='thisMonth')
                        li
                            a(href="#" onclick="javascript:moveDays('next');")
                                span(class='glyphicon glyphicon-menu-right' aria-hidden='true')


                    div(class="searchDiv backWhite")
                        i(class="fas fa-search gray")
                        input(type="text" placeholder="Search...")
                        div(class="btnDiv line40" style="margin-right:0px;")
                            //- span(class="btn btnOrange") All
                            //- span(class="btn btnGray") Todo
                            //- span(class="btn btnGray") Daily

                    div(class='dailyCategoryArea')

                    div(class='cardDiv')
                        ul(id='cardList')

                    div(class='dailyAddDiv')
                        form(method="post" id='reportForm' action='/add')
                            input(type='hidden' id='id' name='id')
                            input(type='hidden' id='writeRadio' name='writeRadio' value='daily')
                            div
                                label(for='cateogry')
                                select(id='cateogry' name='category')

                                input(type='text' id='datepicker' name='date' placeholder='날짜선택' class='dates inputs' aria-describedby='basic-addon2' autocomplete="off")
                                span(class='input-group-addon calendar' id='basic-addon2')
                                    span(class='glyphicon glyphicon-calendar' aria-hidden='true')

                            //- div
                                input(type='text' id='datepicker' name='date' placeholder='날짜선택' class='dates' aria-describedby='basic-addon2' autocomplete="off")
                                span(class='input-group-addon calendar' id='basic-addon2')
                                    span(class='glyphicon glyphicon-calendar' aria-hidden='true')
                            div(class='careKitty')
                                label(for='tooth')
                                    input(type='radio' name='care' id='tooth' value='tooth') 
                                    | 양치
                                label(for='poo')
                                    input(type='radio' name='care' id='poo' value='poo') 
                                    |응가                                
                                label(for='pee')
                                    input(type='radio' name='care' id='pee' value='pee') 
                                    |쉬
                                label(for='play')
                                    input(type='radio' name='care' id='play' value='play') 
                                    |놀이
                                label(for='snack')
                                    input(type='radio' name='care' id='snack' value='snack') 
                                    |간식
                                label(for='food')
                                    input(type='radio' name='care' id='food' value='food') 
                                    |사료
                                label(for='foodCheck')
                                    input(type='radio' name='care' id='foodCheck' value='foodCheck') 
                                    |사료기호성조사

                                div(class="starDiv")
                                    input(type='hidden' name='foodCheckPoint' id='foodCheckPoint' value='0')
                                    i(class="fas fa-star gray" data-index='0')
                                    i(class="fas fa-star gray" data-index='1')
                                    i(class="fas fa-star gray" data-index='2')
                                    i(class="fas fa-star gray" data-index='3')
                                    i(class="fas fa-star gray" data-index='4')

                            div
                                input(type='text' id='title' name='title' class='inputs' placeholder='제목' autocomplete="off")

                            div
                                textarea( name="contents", cols="30", rows="20" id='contents'  placeholder='내용')
                                //- input(type='text' id='contents' name='contents' placeholder='내용' autocomplete="off")

                            div
                                button(type="button" class="btn btn-primary reportAddBtn" onclick='javascript:reportAdd()' ) 저장
                                button(type="button" class="btn btn-primary reportUpdateBtn" onclick='javascript:reportAdd()' ) 수정
                                button(type="button" class="btn btn-danger deletebtn reportUpdateBtn" onclick='javascript:reportDelete()' ) 삭제


//- 양치, 응가여부, 쉬여부, 놀이여부, 우다다?여부? 간식여부 