doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='google-signin-client_id' content='516803201821-k6ejfn3u11qkr89akbjtraivqenbue2m.apps.googleusercontent.com')
        meta(name='google-signin-scope' content='profile email')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="https://apis.google.com/js/platform.js" async defer)
        script.
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var data = {
                    token : googleUser.getAuthResponse().id_token,
                    id : profile.getId(),
                    email : profile.getEmail(),
                    name : profile.getName()
                }
                 $.ajax({
                    url: '/confirm',
                    dataType: 'json',
                    data: data,
                    type: 'GET',
                    success: function(data) {
                        
                    }
                });
            }
    body
        //- h1 Welcome to My Awesome App
        div(class="g-signin2" data-onsuccess="onSignIn" data-theme="dark")