doctype html
html
    head
        meta(charset = 'utf-8')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet")
        link(rel='stylesheet', href='/css/login.css')        
        script.
            function login(){
                if( $('#email').val() == '' ){
                        alert('이메일을 입력하세요.')
                        return false;
                    }

                if( $('#password').val() == ''){
                    alert('비밀번호를 입력하세요.')
                    return false;
                }

                $.ajax({
                    url:'/confirm',
                    type:'post',
                    data:{
                        email:$('#email').val(),
                        password:$('#password').val()
                    },
                    success:function(data){
                        if(data.result =='success'){
                            window.location='/list'
                        }else{
                            alert('존재하지 않는 계정입니다.');
                            $('#email').focus();
                        }
                    },fail:function(error){
                        alert(error)
                    }
                })
            }

            function keyDown(){
                if (window.event.keyCode == 13) {
                    login();
                }
            }
    body
        div(class="container")
            div(class="loginDiv")
                div(class="circle")     
                                    | 05
                                    br 
                                    |23
                div(class="title")
                   span 달 옆에 작은 별 
                        i(class="fas fa-moon")
                        i(class="fas fa-star")
                
                div(class="inputDiv")
                    div
                        label Email 
                            input(type="text" name='email' id='email')
                    div
                        label PASSWORD 
                            input(type="password" name='password' id='password' onKeyDown='keyDown()')
                
                div(class="btnDiv")
                    div(class="login" onclick='login()')
                       span Login
                    
                    div(class="rose")
                       span Sign up
                    
                
            
        