doctype html
html
    head
        meta(charset = 'utf-8')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nanum+Gothic') 
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet", href="css/common.css")
        link(rel="stylesheet", href="css/setting.css")
        script(type='text/javascript' src='js/common.js') 
        script(type='text/javascript' src='js/setting.js') 
        script.
        
            var colorWell;
            var defaultColor = "#0000ff";

            $(function(){
                $('#color').val($("#colorText").text());
                var shareItem = '#{shareItem}';
                var shareCategory = '#{shareCategory}';
                var member = '#{member}';
                
                if(shareItem){
                    var shareItemArr = shareItem.split(',');
                    for(var i=0;i<shareItemArr.length;i++){
                        $('#'+shareItemArr[i]).prop('checked', true);
                    }
                }

                getCategory(shareCategory);
                
                if(member){
                    $('#shareMemberEmail').val(member);
                    $('#shareMemberEmail').attr('readonly', true);
                    $('#shareMemberEmail').css('background', '#ccc');
                    $('#shareMemberEmail').parent().css('background', '#ccc');
                }
                

                $('#daily').change(function(){
                    if(!$(this).is(':checked')){
                       $('input[name=categoryItem]').prop('checked', false);
                    }
                })
            });
            
            window.addEventListener("load", startup, false);
            function startup() {
                colorWell = document.querySelector("#color");
                colorWell.value = defaultColor;
                colorWell.addEventListener("input", updateFirst, false);
                //colorWell.addEventListener("change", updateAll, false);
                colorWell.select();
            }

            function updateFirst(event) {
                $("#colorText").text(event.target.value);
            }

    body
        div(class='container')
            div(class="left" style="background-color:#282c2f;")
                div(class="header")
                    span(class="skyBlue emailInfo") #{email}
                    span(class="sub white") 
                        span(class="logout") 
                            i(class='fas fa-sign-out-alt')
                div
                    ul(class="menuNavi")
                        li
                            a(href='/list')
                                i(class="far fa-angry")
                                span DAILY
                        li
                            a(href='/todolist')
                                i(class="far fa-grin-squint-tears")
                                span TO DO
                        li
                            a(href='/budget')
                                i(class="far fa-smile")
                                span BUDGET
                        li
                            a(href='/expense')
                                i(class="far fa-grin-beam-sweat")
                                span EXPENSE
                        li(class='active')
                            i(class="fas fa-cogs")
                            span SETTING
                        //- li
                        //-     i(class="fas fa-biohazard")
                        //-     span OPTIONS
            div(class='center' style='background:#fafafa;')
                header(class="header backWhite")
                    span(class="first") Setting

                div(class='content')
                    div(class='contentArea')
                        h4  
                            i(class='fas fa-check-circle')          카테고리 관리
                        div(class="categoryAddDiv")
                            form(id='categoryForm')
                                div(class='categoryAddArea')
                                    label(for='color') Color
                                        input(type='color' id='color' value='#ffffff' name='color')
                                        sapn(id='colorText')
                                    script. 
                                        $('#color').val('#fff');
                                            
                                    div(class="searchDiv backWhite")
                                        input(type="hidden" id='id' name='id')
                                        input(type="text" placeholder="카테고리명" id='category' name='category')
                                        div(class="btnDiv line40" style="margin-right:0px;")

                                    div(class='categoryBtn')
                                        span(class="btn btnWhite categoryAddBtn" onclick='addCategory()')
                                            i(class='fas fa-plus-circle')        ADD

                                    div(class='typeArea' )
                                        label(for='daily')
                                            input(type='radio' name='type' id='daily' value='daily') 
                                            |           기타
                                        label(for='diet')
                                            input(type='radio' name='type' id='diet' value='diet') 
                                            |           다이어트
                                        label(for='animal')
                                            input(type='radio' name='type' id='animal' value='animal') 
                                            |           반려동물 일일케어

                            div(class='categoryList')
                    div(class='contentArea')
                        h4  
                            i(class='fas fa-check-circle')          공유항목 선택
                        div(class='shareSelectList')
                            form(id='shareItems')
                                input(type='hidden' id='status' name='status')
                                div
                                    label(for="daily")
                                        input(type='checkbox' name='item' value='daily' id='daily')
                                        i(class='far fa-angry')
                                        |DAILY
                                    div(class='shareSelectCategory')
                                div
                                    label(for="todo")
                                        input(type='checkbox' name='item' value='todo' id='todo')
                                        i(class='far fa-grin-squint-tears')
                                        |TO DO
                                div
                                    label(for="budget")
                                        input(type='checkbox' name='item' value='budget' id='budget')
                                        i(class='far fa-smile')
                                        |BUDGET
                                div
                                    label(for="expense")
                                        input(type='checkbox' name='item' value='expense' id='expense')
                                        i(class='far fa-grin-beam-sweat')
                                        |EXPENSE
                                
                                //- div(class='settingBtn')
                                    
                                div(class='shareMemberSection')
                                    div(style='margin-bottom:5px;')
                                        i(class='fas fa-share-alt')             공유 멤버 관리
                                    div(class="searchDiv backWhite")
                                        input(type="text" placeholder="이메일 입력" id='shareMemberEmail' name='shareMemberEmail')
                                        div(class="btnDiv line40" style="margin-right:0px;")
 
                                    div(style='text-align: right;')
                                        span(class="btn btnOrange categoryAddBtn" onclick='addShareMember()')
                                            i(class='fas fa-plus-circle')        SAVE
                                        span(class="btn btnWhite categoryAddBtn" onclick='clearShareMember()')
                                            i(class='fas fa-eraser')        INITIAL
                                        


                                    //- div(class='shareMemberBtn')
                                    //-     span(class="btn btnOrange categoryAddBtn" onclick='addShareMember()')
                                    //-         i(class='fas fa-plus-circle')        SHARE
                                    
                                    //- div(class='shareMemberBtn')
                                    //-     span(class="btn btnWhite categoryAddBtn" onclick='clearShareMember()')
                                    //-         i(class='fas fa-plus-circle')        CLEAR