doctype html
html
    head
        meta(charset = 'utf-8')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nanum+Gothic') 
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css' integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet", href="css/common.css")
        link(rel="stylesheet", href="css/todolist.css")
        script(type='text/javascript' src='js/todolist.js') 
        script(type='text/javascript' src='js/common.js') 
        script.
            $(function(){

                $( "#datepicker" ).datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true, 
                    dateFormat:'yy/mm/dd',
                    beforeShow: function(input) {
                        var i_offset= $(input).offset(); //클릭된 input의 위치값 체크
                        setTimeout(function(){
                            $('#ui-datepicker-div').css({'top':i_offset.top + 40});      //datepicker의 div의 포지션을 강제로 input 위치에 그리고 좌측은 모바일이여서 작기때문에 무조건 10px에 놓았다.
                        })

                    }
                });

                $('#todolistTitle').keydown(function(event) {
                    if (event.keyCode == '13') { 
                        if(!$(this).val()){
                            alert('글 없음')
                            return false;
                        }
                        alert($(this).val())
                        
                    }
                });

            })

    body
        div(class='container')
            div(class="left" style="background-color:#282c2f;")
                div(class="header")
                    span(class="skyBlue emailInfo") #{email}
                    span(class="sub white") 
                        span(class="logout") 
                            i(class='fas fa-sign-out-alt')
                div
                    ul(class="menuNavi")
                        li
                            a(href='/list')
                                i(class="far fa-angry")
                                span DAILY
                        li(class='active')
                            i(class="far fa-grin-squint-tears")
                            span TO DO
                        li
                            a(href='#')
                                i(class="far fa-smile")
                                span BUDGET
                        li
                            a(href='#')
                                i(class="far fa-grin-beam-sweat")
                                span EXPENSE
                        li
                            a(href='/setting')
                                i(class="fas fa-cogs")
                                span SETTING
                        //- li
                        //-     i(class="fas fa-biohazard")
                        //-     span OPTIONS
            div(class='center' style='background:#fafafa;')
                header(class="header backWhite")
                    span(class="first") To do
                    span(class="btn btnOrange headerBtnAdd" onclick='todoSectionToggle()')
                        i(class='fas fa-plus-circle')        ADD
                    //- div(class="headerBtn")
                    //-     span(class="btn btnWhite") + btn1
                    //-     span(class="btn btnWhite") + btn2
                    //-     span(class="btn btnWhite") + btn3
                div(class='content')
                    //- ul(class='pager')
                    //-     li
                    //-         a(href="#" onclick="javascript:moveDays('pre');")
                    //-             span(class='glyphicon glyphicon-menu-left' aria-hidden='true')
                    //-     li 
                    //-         span(id='thisMonth')
                    //-     li
                    //-         a(href="#" onclick="javascript:moveDays('next');")
                    //-             span(class='glyphicon glyphicon-menu-right' aria-hidden='true')

                    div(class='todoAddSection' style='display:none;')
                        form(id='todoForm')
                            input(type='hidden' id='id' name='id')
                            div(class="todolistAddDiv")
                                input(type='text' id='datepicker' name='date' placeholder='날짜선택' class='dates' aria-describedby='basic-addon2' autocomplete="off")
                                span(class='input-group-addon calendar' id='basic-addon2')
                                    span(class='glyphicon glyphicon-calendar' aria-hidden='true')
                                    
                            div(class="searchDiv backWhite")
                                input(type="text" placeholder="제목을 입력하세요." id='title' name='title')
                                div(class="btnDiv line40" style="margin-right:0px;")
                                    i(class="fas fa-plus-circle")
                                    //- span(class="btn btnOrange") +
                                    //- span(class="btn btnGray") Todo
                                    //- span(class="btn btnGray") Daily

                            div(class="searchDiv todoContents backWhite")
                                textarea(name="contents" id='contents')
                    
                            div(class='todoAddBtn')
                                label
                                    input(type='checkbox' name='todoComplete' id='todoCompleteY' value='Y')
                                    |           완료
                                span(class="btn btnOrange" onclick='todoAddBtn()')
                                    i(class='fas fa-plus-circle')        ADD
                                span(class="btn btnWhite" onclick='todoSectionToggle()')
                                    i(class='fas fa-eraser')        CANCEL
                                    
                    div(class='listDiv')
                        ul(id='todolist')
                        ul(id='todoComplete')